language: python
python:
    - '2.7'
install:
    - pip install -r requirements.txt
    - pip install coverage
script:
    - export BOTO_CONFIG=/dev/null
    - coverage run_tests.py
after_success:
    - curl -o codecov.sh -s https://codecov.io/bash && /bin/bash ./codecov.sh
